<?xml version="1.0"?>
<configuration>
  <system.web> 
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.IO" />
        <add namespace="System.Text" />
        <add namespace="Inisoft.ASP.CMS.Core" />        
      </namespaces>
      <controls>
      </controls>
    </pages>    
    <compilation debug="true">
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>  
</configuration>
